<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>WebApp_Restaurant.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>WebApp_Restaurant.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>WebApp_Restaurant.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Controller</servlet-name>
        <servlet-class>WebApp_Restaurant.Update_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservation_Controller</servlet-name>
        <servlet-class>WebApp_Restaurant.Reservation_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservation_Delete</servlet-name>
        <servlet-class>WebApp_Restuarant.Reservation_Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservation_Update</servlet-name>
        <servlet-class>WebApp_Restaurant.Reservation_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu_Controller</servlet-name>
        <servlet-class>WebApp_Restaurant.Menu_Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservation_Controller</servlet-name>
        <url-pattern>/Reservation_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservation_Delete</servlet-name>
        <url-pattern>/Reservation_Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservation_Update</servlet-name>
        <url-pattern>/Reservation_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu_Controller</servlet-name>
        <url-pattern>/Menu_Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30 
        </session-timeout>
    </session-config>
</web-app>
